<!-- app.component.html -->
<!-- <mat-form-field>
  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
</mat-form-field>
 
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
</mat-autocomplete> -->

<div class= "row" style=" margin-left: 1rem;">
<input class="form-control mr-sm-2" type="text" valu = ""  #searchInput placeholder="Rechercher un bracelet" aria-label="Search">
<input class="form-control mr-sm-2" type="text" value = "" #searchInput placeholder="Rechercher un patient" aria-label="Search">


<!--<input type="submit" value="start ref position mock" (click)="createdata()">
<input type="submit" value="delete" (click)="deletedata()">

<input type="submit" value="start position mock" (click)="createpositiondata()">-->
</div>




