    img {
        height: 60px;
        margin-right: 30px;
    }

    textarea {
        resize: none;
    }

    input, textarea, select {
        box-shadow: none;
    }

    span {
        color: red;
    }

    .container {
        margin-top: 100px;
        color: #151515;
        border-radius: 16px;
    }

    h2 {
        text-align: center;
        font-weight: 600;
    }

    .response {
        padding-bottom: 40px;
        color: purple;
        font-weight: 600;
    }

    form {
        padding-top: 30px;

        &_intro {
            align-items: center;
            padding-top: 50px;
            padding-bottom: 35px;

            h4 {
                font-weight: 200;
                color: purple;
                padding-top: 20px;
            }

            select {
                margin-bottom: 15px;
            }

        }
    }

    .form_notificaiton {
        padding-bottom: 40px;

        h4 {
            text-align: center;
            font-weight: 400;
        }
    }

    h2 {
        padding-bottom: 20px;
        color: #002f5a;
    }

    h4 {
        padding-bottom: 20px;
        color: purple;
        padding-top:30px;
    }

    .custom_field {
        display: none;
    }

    .sending_button {
        margin-top: 20px;
        background-color: #002f5a;
        border-color: #002f5a;
        transition: 1s;
        font-weight: 600;
        border-radius: 15px;
        margin-left: 50%;
        transform: translate(-50%);

        &:hover {
            background-color: #27bae6;
            border-color: #27bae6;
        }
    }
