*{
    padding : 0;
    margin : 0;
    border : 0;
}
.blended_grid{
    display : block;
    width : 1200px;
    overflow : auto;
    margin : 0 auto;
}
.Cuinse & Restaurant{
    background-color : rgba(131,255,68,0.4);
    float : left;
    clear : none;
    height : 200px;
    width : 1200px;
}
.pageBarLeft{
    float : left;
    clear : none;
    min-width : 80px;
    min-height : 80px;
}
.Chambre_1{
    background-color : rgba(88,53,255,0.4);
    float : none;
    clear : both;
    height : 300px;
    width : 200px;
}
.Chambre_2{
    background-color : rgba(255,159,2,0.4);
    float : none;
    clear : both;
    height : 300px;
    width : 200px;
}
.Chambre_3{
    background-color : rgba(0, 0, 0, 0.5);
    float : none;
    clear : both;
    height : 399px;
    width : 200px;
}
.Séjour_commun{
    background-color : rgba(0, 0, 0, 0.5);
    float : left;
    clear : none;
    height : 1000px;
    width : 800px;
}
.Chambre_4{
    background-color : rgba(46,2,61,0.4);
    float : left;
    clear : none;
    height : 300px;
    width : 200px;
}
.Chambre_6{
    background-color : rgba(2,72,132,0.4);
    float : left;
    clear : none;
    height : 300px;
    width : 200px;
}
.Aqua_Piscine{
    float : left;
    clear : none;
    min-width : 80px;
    min-height : 80px;
}
.Chambre_5{
    background-color : rgba(0, 0, 0, 0.5);
    float : left;
    clear : none;
    height : 300px;
    width : 1200px;
}
