<p>map-prototype works!</p>
<!DOCTYPE html>
<html>
	<head>		
		<title>Map</title>
	</head>
	<body>
	<!--	<div style="width:50px; height:50px; background-color:red"></div>
		<div style="width:50px; height:50px; background-color:blue"></div>
		<div style="width:50px; height:50px; background-color:green"></div> -->

<div class="blended_grid">
	  <div class="Cuinse & Restaurant">
	  </div>
	  <div class="TT">
	 	  <div class="Chambre 1">
	 	  </div>
	 	  <div class="Chambre 2">
	 	  </div>
	 	  <div class="Chambre 3">
	 	  </div>
	  </div>
	  <div class="Séjour commun">
	  </div>
	  <div class="Chambre 4">
	  </div>
	  <div class="Chambre 6">
	  </div>
	  <div class="Aqua Piscine">
	  </div>
	  <div class="Chambre 5">
	  </div>
</div>
</body>
</html>
	</body>
</html>
