
<section class="container">
  <div class="row">

  </div>
  <div class="row">

  </div>

  <div class="align-items-center">
    <form (ngSubmit)="onGetResidence()">
      <br/><br/><br/>

      <h4>Sélectionnez l'indicateur à calculer</h4>
    <div class="primo col-md-5">
      <select class="form-control" id="notification_type">
        <option value="residence_rate">Taux d'occupation des résidences</option>
      </select>
    </div>
    <div class="primo col-md-5">

        <button type="submit" class="btn btn-primary">
          Calculer
        </button>
    </div>
    </form>
  </div>
  <div class="col-12 col-md-2 text-center">
    <br/>
    <br/>
  </div>
  <form (ngSubmit)="onGetFailure($event)">

    <div class="primo col-md-5">
      <select class="form-control" id="annual_failure_rate" (change)='annualfailureChange()'>
        <option value="annual_failure_rate" selected>Taux de panne annuel</option>
        <option value="annual_failure_rate_1">2019</option>
        <option value="annual_failure_rate_2">2020</option>
      </select>
    </div>
    <div class="primo col-md-5">

      <button type="submit" class="btn btn-primary">
        Calculer
      </button>
    </div>
  </form>
  <div class="col-12 col-md-2 text-center">
    <br/>
    <br/>

  </div>
  <form (ngSubmit)="onGetMonthlyFailure($event)">
    <div class="primo col-md-5">

      <select class="form-control" id="monthly_failure_rate" (change)='monthlyfailureChange()'>
        <option value="monthly_failure_rate" selected>Taux de panne mensuel</option>
        <option value="monthly_failure_rate_1"> Décembre 2019</option>
        <option value="monthly_failure_rate_2"> Janvier 2020</option>
        <option value="monthly_failure_rate_3"> Février 2020</option>
        <div class="col-12 col-md-2 text-center">
          <br/>
          <br/>

        </div>
      </select>
    </div>
    <div class="primo col-md-5">

      <button type="submit" class="btn btn-primary">
        Calculer
      </button>
    </div>
  </form>
  <div class="col-12 col-md-2 text-center">
    <br/>
    <br/>

  </div>
  <div class="panel">
    <div class="panel-heading">
      <br/>
      <br/>
      <div class="panel-body">
        <table class="table table-bordered" *ngIf="residence">
          <thead>
          <tr class = "info">
            <th>ID Résidence</th>
            <th>Nom </th>
            <th>Nombre de résidents</th>
            <th>Taux d'occupation </th>
          </tr>
          </thead>
        <tbody >
          <tr *ngFor="let r of residence">
            <td>{{r.idResidence}}</td>
            <td>{{r.name}}</td>
            <td>{{r.numberOfResident}}</td>
            <td>{{(r.numberOfResident*1/rooms)|number}}%</td>
          </tr>
        </tbody>
        </table>
        <table class="table table-bordered" *ngIf="failure">
          <thead>
          <tr class = "info">
            <th>Année</th>
            <th>Nombre de pannes annuel</th>
            <th>Taux de panne annuel </th>
          </tr>
          </thead>
          <tbody >
          <tr >
            <td>{{year}}</td>
            <td>{{failure}}</td>
            <td>{{(failure*100/(objects*365)).toFixed(2)}}%</td>
          </tr>
          </tbody>
        </table>
        <table class="table table-bordered" *ngIf="failuremonth">
          <thead>
          <tr class = "info">
            <th>Année</th>
            <th>Mois</th>
            <th>Nombre de pannes mensuel</th>
            <th>Taux de panne mensuel </th>
          </tr>
          </thead>
          <tbody >
          <tr >
            <td>{{year}}</td>
            <td>{{month}}</td>
            <td>{{failuremonth}}</td>
            <td>{{(failuremonth*100/(objects*30)).toFixed(2)}}%</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
  <h4> Récapitulatifs</h4>
  <div>
  <h5> Formules d'abonnement choisies par an</h5>
   <select [(ngModel)]="year_subscription" id="total_subscriptions" >
      <option value="total_subscriptions" selected> Sélectionnez l'année</option>
      <option value='2019'>2019</option>
      <option value='2020'>2020</option>
    </select>
    <br/>
  <div [hidden] = "year_subscription!= '2019'" class="subscription_left">
    <canvas id="chart" width="500" height="200"></canvas>
    <br/>
    
  </div>

  <div [hidden] = "year_subscription != '2020'" class="subscription_left">
    <canvas id="chart1" width="500" height="200"></canvas>
    <br/>
  
  </div>
  </div>

<div class = mensuals> <br/><h5> Chiffres d'affaires mensuels</h5>
<select [(ngModel)]="month_subscription" id="month_subscriptions" >
      <option value="month_subscriptions" selected> Sélectionnez l'année</option>
      <option value='2019'>2019</option>
      <option value='2020'>2020</option>
    </select>
  <br/>
  <div [hidden] = "month_subscription!= '2019'" class = "mensual_left">
    <canvas id="chart2" width="500" height="200"></canvas>
  </div>
  <div [hidden] = "month_subscription!= '2020'" class = "mensual_left">

    <canvas id="chart3" width="500" height="200"></canvas>
  </div>
</div>
  <br/>

  <div class = mensuals>
    <br/><h5> Chiffres d'affaires annuels</h5>
    <br/>
  <div class = " annual_CA"> <canvas id="chart4" width="50" height="50"></canvas></div>
  </div>

</section>
