<div style="text-align:center" xmlns:text-align="http://www.w3.org/1999/xhtml">
  Alert Resident
</div>



<div class="card" *ngIf = "!isShow">
  <h5 class="card-header" style="background-color: red;color: #ffffff;">Notifications</h5>
  <div class="card-body">
    <h5 class="card-title" style="background-color:#1a73e8;color: #ffffff; text-align: center  " face="Verdana" size="5">
      Medical Alert :  {{progress.residentFirsName}} {{progress.residentLastName}}
    </h5>
    <ul>
      <li>Resident : {{progress.residentFirsName}} &nbsp; {{progress.residentLastName}}  </li>
      <li>Age: {{progress.residentAge}} &nbsp; ans </li>
      <li>Room : &nbsp;{{progress.residentRoom}} </li>
      <li>Alert on : {{progress.measurementType}} &nbsp; Unit : &nbsp;{{progress.measurementUnit}}</li>
      <li>Thresholds for this resident : MIN = {{progress.measurementTypeMinValue}} &nbsp;  ;  MAX = : &nbsp;{{progress.measurementTypeMaxValue}}</li>
      <li>Last three values reported : </li>
      <li>{{progress.lastMeasurement_1}} </li>
      <li>{{progress.lastMeasurement_2}} </li>
      <li>{{progress.lastMeasurement_3}} </li>


    </ul>
    <h5 class="card-title" style="background-color:#1a73e8;color: white;" text-align: center "face="Verdana" size="5">
      End Notification
    </h5>
  </div>
  <button (click) = toggleDisplay()>CLEAR ALERT</button>
</div>


<div class="container">
  <router-outlet></router-outlet>
</div>
