<section class="container">
    <div class="row">
        <div class="col-12">
                <h2><img src="../../assets/notif.png" alt="">Notifications</h2>
        </div>
        <div class="col-12" *ngFor="let notification of notifications">
            <div class="row">
                <div class="col-12 col-md-4">
                    <span>Titre :</span> {{ notification.title }}
                    <br>
                    <span>Date :</span> {{ notification.date }}
                </div>
                <div class="col-11 col-md-7">
                    <span>Message :</span> {{ notification.message }}
                </div>
                <div class="newNotification" *ngIf="notification.state == 'PENDING'">
                    <img src="../../assets/alert.png" alt="">
                </div>
            </div>
        <hr>            
        </div>
       
    </div>
</section>