<section class="container">
    <div class="row">
        <div class="col-12">
                <h2><img src="../../assets/notif.png" alt="">Notifications</h2>
        </div>
        <div class="col-12" *ngFor="let notification of notifications">
            <div class="row">
                <div class="col-12 col-md-4">
                    <span>Titre :</span> {{ notification.title }}
                    <br>
                    <div *ngIf="notification.type == 'MEDICINE'">
                        <span  *ngIf="split(notification.customData,1) != 'empty'">Heure de prise :</span> {{ split(notification.customData,1) }}<br>
                        <span *ngIf="split(notification.customData,0) != 'empty'">Médicament :</span> {{ split(notification.customData,0) }}
                    </div>
                    <div *ngIf="notification.type == 'OBJECT' && notification.customData">
                        <span>Objet lié :</span> {{ notification.customData }}<br>
                    </div>
                </div>
                <div class="col-11 col-md-7">
                    <span>Message :</span> {{ notification.message }}
                </div>
                <div class="newNotification" *ngIf="notification.state == 'PENDING'">
                    <img src="../../assets/alert.png" alt="">
                </div>
            </div>
        <hr>            
        </div>
       
    </div>
</section>