<section class="container">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <mat-tab-group *ngIf="dataloaded">
        <!-- Manage infos of Lamps-->
        <mat-tab label="Lampe" *ngIf="lamps.length > 0">
            <ng-container *ngFor="let lampe of lamps; index as i">
                <div class="my-custom-row mt-5">
                    <div class="col-6"><img src="../../assets/lampe.jpg" alt=""></div>
                    <div class="col-6">
                        <h5 style="padding-left:20%;">Lampe - {{ i + 1}} :</h5>
                        <div class="row">
                            <table width="90%">
                                <tr>
                                    <td>Status</td>
                                    <td><span *ngIf="lampe.status">Allumées</span> <span
                                            *ngIf="!lampe.status">Éteint</span></td>
                                </tr>
                                <tr>
                                    <td>Couleur</td>
                                    <td><span>{{colorOnChange(lampe.color)}}</span></td>
                                </tr>
                                <tr>
                                    <td>Allumées à</td>
                                    <td>
                                        <span
                                            *ngIf="lampe.hourOn; else elseBlock">{{ lampe.hourOn | date: "HH:mm"}}</span>
                                        <ng-template #elseBlock>Non paramétré</ng-template>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Éteintes à</td>
                                    <td>
                                        <span
                                            *ngIf="lampe.hourOff; else elseBlock">{{ lampe.hourOff | date: "HH:mm"}}</span>
                                        <ng-template #elseBlock>Non paramétré</ng-template>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Intensité</td>
                                    <td>{{ lampe.intensity }}%</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
                <!-- Manage params for Lamps-->
                <div class="my-custom-row mt-5">
                    <form [formGroup]="checkoutFormLamp" (ngSubmit)="build('lamp')">
                        <div class="col-12">
                            <hr width="85%" color="blue">
                        </div>
                        <h5>
                            Paramètres :
                        </h5>
                        <input hidden #idLamp formControlName="idLamp" [ngModel]="lampe.idLamp">
                        <input hidden #objects formControlName="objects" [ngModel]="lampe.objects">
                        <input hidden #colorUsine formControlName="colorUsine" [ngModel]="lampe.colorUsine">
                        <input hidden #hourOffUsine formControlName="hourOffUsine" [ngModel]="lampe.hourOffUsine">
                        <input hidden #hourOnUsine formControlName="hourOnUsine" [ngModel]="lampe.hourOnUsine">
                        <input hidden #hourOff formControlName="hourOff" [ngModel]="lampe.hourOff">
                        <input hidden #hourOn formControlName="hourOn" [ngModel]="lampe.hourOn">
                        <input hidden #intensityUsine formControlName="intensityUsine" [ngModel]="lampe.intensityUsine">
                        <input hidden #statusUsine formControlName="statusUsine" [ngModel]="lampe.statusUsine">
                       
                        <table width="90%">
                            <tr>
                                <td>Status</td>
                                <td>
                                    <mat-slide-toggle #status formControlName="status" [ngModel]="lampe.status">
                                    </mat-slide-toggle>
                                </td>
                            </tr>

                            <tr>
                                <td>Couleur</td>
                                <td>
                                    <mat-form-field>
                                        <mat-select #color formControlName="color" [ngModel]="lampe.color">
                                            <mat-option value="WHITE">Blanche</mat-option>
                                            <mat-option value="BLUE">Bleue</mat-option>
                                            <mat-option value="YELLOW">Jaune</mat-option>
                                            <mat-option value="GREEN">Verte</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>

                            <tr>
                                <td>Allumées à</td>
                                <td class="col-6">
                                    <span (click)="openOn(lampe.hourOn, 'lamp')">
                                        <mat-icon md-36>schedule</mat-icon>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>Éteintes à</td>
                                <td class="col-6">
                                    <span (click)="openOff(lampe.hourOff, 'lamp')">
                                        <mat-icon md-36>schedule</mat-icon>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>Intensité</td>
                                <td>
                                    <mat-slider #intensity formControlName="intensity" thumbLabel
                                        [displayWith]="formatLabel" min="10" max="100" step="10"
                                        [ngModel]="lampe.intensity"></mat-slider>
                                </td>
                            </tr>
                        </table>
                        <!-- SUBMIT LAMP-->
                        <div class="d-flex justify-content-center mt-5 mb-5">
                            <button mat-raised-button type="submit">Valider</button>
                        </div>

                    </form>

                </div>

                <div class="d-flex justify-content-center mb-5">
                    <button class="type" (click)="restore('lamp', lampe.idLamp)">Restaurer les paramètres
                        d'usine</button>
                </div>

            </ng-container>
        </mat-tab>

        <mat-tab label="Four" *ngIf="ovens.length > 0">
            <ng-container *ngFor="let oven of ovens; index as i">
                <div class="my-custom-row mt-5">
                    <div class="col-6"><img src="../../assets/oven.jpg" alt=""></div>
                    <div class="col-6">
                        <h5 style="padding-left:20%;">Four - {{ i + 1}} :</h5>
                        <div class="row">
                            <table width="90%">
                                <tr>
                                    <td>Status</td>
                                    <td class="col-6"><span *ngIf="oven.status">Allumées</span> <span
                                            *ngIf="!oven.status">Éteint</span></td>
                                </tr>
                                <tr>
                                    <td>Température programmée</td>
                                    <td>{{ oven.programTemp}}°C</td>
                                </tr>
                                <tr>
                                    <td>Température effective</td>
                                    <td>{{ oven.effectiveTemp}}°C</td>
                                </tr>
                                <tr>
                                    <td>Heure de lancement</td>
                                    <td><span *ngIf="oven.scheduleTime == null">Non Renseigné</span> <span
                                            *ngIf="oven.scheduleTime != null">{{ oven.scheduleTime | date: "HH:mm"}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mode</td>
                                    <td>
                                        <span *ngIf="oven.mode === 'FAN'">Chaleur tournante</span>
                                        <span *ngIf="oven.mode === 'PIZZA'">Pizza</span>
                                        <span *ngIf="oven.mode === 'BAKERY'">Patisserie</span>
                                        <span *ngIf="oven.mode === 'ROTISSERIE'">Rotisserie</span>
                                        <span *ngIf="oven.mode === 'PREHEATED'">Pré-chauffage</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Manage params for Oven-->
                <div class="my-custom-row mt-5">
                    <form [formGroup]="checkoutFormOven" (ngSubmit)="build('oven')">
                        <div class="col-12">
                            <hr width="85%" color="blue">
                        </div>
                        <h5>
                            Paramètres :
                        </h5>
                        <input hidden #idOven formControlName="idOven" [ngModel]="oven.idOven">
                        <input hidden #objects formControlName="objects" [ngModel]="oven.objects">
                        <input hidden #effectiveTemp formControlName="effectiveTemp" [ngModel]="oven.effectiveTemp">
                        <input hidden #modeUsine formControlName="modeUsine" [ngModel]="oven.modeUsine">
                        <input hidden #statusUsine formControlName="statusUsine" [ngModel]="oven.statusUsine">
                        <input hidden #scheduleTimeUsine formControlName="scheduleTimeUsine"
                            [ngModel]="oven.scheduleTimeUsine">
                        <input hidden #programTempUsine formControlName="programTempUsine"
                            [ngModel]="oven.programTempUsine">
                        <input hidden #effectiveTempUsine formControlName="effectiveTempUsine"
                            [ngModel]="oven.effectiveTempUsine">
                        <input hidden #scheduleTime formControlName="scheduleTime" [ngModel]="oven.scheduleTime">

                        <table width="90%">
                            <tr>
                                <td>Status</td>
                                <td>
                                    <mat-slide-toggle #status formControlName="status" [ngModel]="oven.status">
                                    </mat-slide-toggle>
                                </td>
                            </tr>

                            <tr>
                                <td>Température programmée</td>
                                <td>
                                    <mat-slider #programTemp formControlName="programTemp" thumbLabel
                                        [displayWith]="formatLabel" min="0" max="270" step="1"
                                        [ngModel]="oven.programTemp"></mat-slider>
                                </td>
                            </tr>
                            <tr>
                                <td>programmée à</td>
                                <td class="col-6">
                                    <span (click)="openOn(oven.scheduleTime, 'oven')">
                                        <mat-icon md-36>schedule</mat-icon>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>Mode</td>
                                <td>
                                    <mat-form-field>
                                        <mat-select #mode formControlName="mode" [ngModel]="oven.mode">
                                            <mat-option value="PIZZA">Pizza</mat-option>
                                            <mat-option value="FAN">Chaleur tournante</mat-option>
                                            <mat-option value="BAKERY">Patisserie</mat-option>
                                            <mat-option value="ROTISSERIE">Rotisserie</mat-option>
                                            <mat-option value="PREHEATED">Préchauffage</mat-option>

                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>

                        </table>
                        <!-- SUBMIT OVEN-->
                        <div class="d-flex justify-content-center mt-5 mb-5">
                            <button mat-raised-button type="submit">Valider</button>
                        </div>

                    </form>
                </div>

                <div class="d-flex justify-content-center mb-5">
                    <button class="type" (click)="restore('oven', oven.idOven)">Restaurer les paramètres
                        d'usine</button>
                </div>
            </ng-container>
        </mat-tab>

        <mat-tab label="Volet" *ngIf="shutters.length > 0">
            <ng-container *ngFor="let shutter of shutters; index as i">
                <div class="my-custom-row mt-5">
                    <div class="col-6"><img src="../../assets/volet.jpeg" alt=""></div>
                    <div class="col-6">
                        <h5 style="padding-left:20%;">Volet - {{ i + 1}} :</h5>
                        <div class="row">
                            <table width="90%">
                                <tr>
                                    <td>Status</td>
                                    <td><span *ngIf="shutter.status">Ouvert</span> <span
                                            *ngIf="!shutter.status">Fermé</span></td>
                                </tr>
                                <tr>
                                    <td>Ouvrir à </td>
                                    <td>
                                        <span
                                            *ngIf="shutter.hourOn; else elseBlock">{{ shutter.hourOn | date: "HH:mm"}}</span>
                                        <ng-template #elseBlock>Non paramétré</ng-template>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Fermer à</td>
                                    <td>
                                        <span
                                            *ngIf="shutter.hourOff; else elseBlock">{{ shutter.hourOff | date: "HH:mm"}}</span>
                                        <ng-template #elseBlock>Non paramétré</ng-template>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <!-- Manage params for shutters-->
                <div class="my-custom-row mt-5">
                    <form [formGroup]="checkoutFormShutter" (ngSubmit)="build('shutter')">
                        <div class="col-12">
                            <hr width="85%" color="blue">
                        </div>
                        <h5>
                            Paramètres :
                        </h5>
                        <input hidden #idShutter formControlName="idShutter" [ngModel]="shutter.idShutter">
                        <input hidden #objects formControlName="objects" [ngModel]="shutter.objects">
                        <input hidden #hourOnUsine formControlName="hourOnUsine" [ngModel]="shutter.hourOnUsine">
                        <input hidden #hourOffUsine formControlName="hourOffUsine" [ngModel]="shutter.hourOffUsine">
                        <input hidden #statusUsine formControlName="statusUsine" [ngModel]="shutter.statusUsine">
                        <input hidden #hourOff formControlName="hourOff" [ngModel]="shutter.hourOff">
                        <input hidden #hourOn formControlName="hourOn" [ngModel]="shutter.hourOn">

                        <table width="90%">
                            <tr>
                                <td>Status</td>
                                <td>
                                    <mat-slide-toggle #status formControlName="status" [ngModel]="shutter.status">
                                    </mat-slide-toggle>
                                </td>
                            </tr>

                            <tr>
                                <td>Ouvrir à</td>
                                <td class="col-6">
                                    <span (click)="openOn(shutter.hourOn, 'shutter')">
                                        <mat-icon md-36>schedule</mat-icon>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>Fermer à</td>
                                <td class="col-6">
                                    <span (click)="openOff(shutter.hourOff, 'shutter')">
                                        <mat-icon md-36>schedule</mat-icon>
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <!-- SUBMIT SHUTTER-->
                        <div class="d-flex justify-content-center mt-5 mb-5">
                            <button mat-raised-button type="submit">Valider</button>
                        </div>
                    </form>
                </div>

                <div class="d-flex justify-content-center mb-5">
                    <button class="type" (click)="restore('shutter', shutter.idShutter)">Restaurer les paramètres
                        d'usine</button>
                </div>

            </ng-container>
        </mat-tab>

        <mat-tab label="Réveil" *ngIf="alarmClocks.length > 0">
            <ng-container *ngFor="let alarmClock of alarmClocks; index as i">
                <div class="my-custom-row mt-5">
                    <div class="col-6"><img src="../../assets/AlarmClock.jpg" alt=""></div>
                    <div class="col-6">
                        <h5 style="padding-left:20%;">Réveil - {{ i + 1}} :</h5>
                        <div class="row">
                            <table width="90%">
                                <tr>
                                    <td>Date | Heure </td>
                                    <td>{{ now | date: "d MMMM y | HH:mm:ss"}}</td>
                                </tr>
                                <tr>
                                    <td>Statut réveil </td>
                                    <td><span *ngIf="alarmClock.alarmStatus">ON</span> <span
                                            *ngIf="!alarmClock.alarmStatus">OFF</span></td>
                                </tr>
                                <tr>
                                    <td>Alarme à </td>
                                    <td>
                                        <span
                                            *ngIf="alarmClock.alarm; else elseBlock">{{ alarmClock.alarm | date: "HH:mm "}}</span>
                                        <ng-template #elseBlock>Non paramétré</ng-template>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Statut radio </td>
                                    <td><span *ngIf="alarmClock.radioStatus">ON</span> <span
                                            *ngIf="!alarmClock.radioStatus">OFF</span></td>
                                </tr>
                                <tr>
                                    <td>Fréquence Radio</td>
                                    <td>{{alarmClock.radioHrz | number}}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>

                <!-- Manage params for alarmClock-->
                <div class="my-custom-row mt-5">
                    <form [formGroup]="checkoutFormAlarmClock" (ngSubmit)="build('alarmClock')">
                        <div class="col-12">
                            <hr width="85%" color="blue">
                        </div>
                        <h5>
                            Paramètres :
                        </h5>
                        <input hidden #idAlarmClock formControlName="idAlarmClock" [ngModel]="alarmClock.idAlarmClock">
                        <input hidden #objects formControlName="objects" [ngModel]="alarmClock.objects">
                        <input hidden #alarmUsine formControlName="alarmUsine" [ngModel]="alarmClock.alarmUsine">
                        <input hidden #radioHrzUsine formControlName="radioHrzUsine"
                            [ngModel]="alarmClock.radioHrzUsine">
                        <input hidden #radioStatusUsine formControlName="radioStatusUsine"
                            [ngModel]="alarmClock.radioStatusUsine">
                        <input hidden #alarmStatusUsine formControlName="alarmStatusUsine"
                            [ngModel]="alarmClock.alarmStatusUsine">
                        <input hidden #alarm formControlName="alarm" [ngModel]="alarmClock.alarm">

                        <table width="90%">
                            <tr>
                                <td>Status réveil</td>
                                <td>
                                    <mat-slide-toggle #alarmStatus formControlName="alarmStatus"
                                        [ngModel]="alarmClock.alarmStatus">
                                    </mat-slide-toggle>
                                </td>
                            </tr>
                            <tr>
                                <td>Alarme à</td>
                                <td>
                                    <span (click)="openOn(alarmClock.alarm, 'alarm')">
                                        <mat-icon md-36>schedule</mat-icon>
                                    </span>
                                </td>
                            </tr>

                            <tr>
                                <td>Status radio</td>
                                <td>
                                    <mat-slide-toggle #radioStatus formControlName="radioStatus"
                                        [ngModel]="alarmClock.radioStatus">
                                    </mat-slide-toggle>
                                </td>
                            </tr>

                            <tr>
                                <td>Fréquence radio</td>
                                <td>
                                    <mat-slider #radioHrz formControlName="radioHrz" thumbLabel
                                        [displayWith]="formatLabel" min="87.5" max="108" step="0.1"
                                        [ngModel]="alarmClock.radioHrz"></mat-slider>
                                </td>
                            </tr>
                        </table>
                        <!-- SUBMIT ALARMCLOCK-->
                        <div class="d-flex justify-content-center mt-5 mb-5">
                            <button mat-raised-button type="submit">Valider</button>
                        </div>
                    </form>
                </div>

                <div class="d-flex justify-content-center mb-5">
                    <button class="type" (click)="restore('alarmClock', alarmClock.idAlarmClock)">Restaurer les
                        paramètres d'usine</button>
                </div>

            </ng-container>
        </mat-tab>


        <mat-tab label="Machine à café" *ngIf="coffeeMachines.length > 0">
            <ng-container *ngFor="let coffeeMachine of coffeeMachines; index as i">
                <div class="my-custom-row mt-5">
                    <div class="col-6"><img src="../../assets/coffeeMachine.jpg" alt=""></div>
                    <div class="col-6">
                        <h5 style="padding-left:20%;">Machine à café - {{ i + 1}} :</h5>
                        <div class="row">
                            <table width="90%">
                                <tr>
                                    <td>Status </td>
                                    <td><span *ngIf="coffeeMachine.status">Allumée</span> <span
                                            *ngIf="!coffeeMachine.status">Éteinte</span></td>
                                </tr>
                                <tr>
                                    <td>Nombre de capsule restante </td>
                                    <td>{{ coffeeMachine.nbCapsule }}</td>
                                </tr>
                                <tr>
                                    <td>Mon café sera prêt à</td>
                                    <td>
                                        <span
                                            *ngIf="coffeeMachine.scheduleCoffee; else elseBlock">{{ coffeeMachine.scheduleCoffee | date: "HH:mm"}}</span>
                                        <ng-template #elseBlock>Non paramétré</ng-template>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Niveau d'eau de ma machine</td>
                                    <td>{{coffeeMachine.waterLevel}} cl</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>

                <!-- Manage params for Lamps-->
                <div class="my-custom-row mt-5">
                    <form [formGroup]="checkoutFormCoffeeMachine" (ngSubmit)="build('coffeeMachine')">
                        <div class="col-12">
                            <hr width="85%" color="blue">
                        </div>
                        <h5>
                            Paramètres :
                        </h5>
                        <input hidden #idCoffee formControlName="idCoffee" [ngModel]="coffeeMachine.idCoffee">
                        <input hidden #objects formControlName="objects" [ngModel]="coffeeMachine.objects">
                        <input hidden #nbCapsule formControlName="nbCapsule" [ngModel]="coffeeMachine.nbCapsule">
                        <input hidden #waterLevel formControlName="waterLevel" [ngModel]="coffeeMachine.waterLevel">
                        <input hidden #nbCapsuleUsine formControlName="nbCapsuleUsine"
                            [ngModel]="coffeeMachine.nbCapsuleUsine">
                        <input hidden #scheduleCoffeeUsine formControlName="scheduleCoffeeUsine"
                            [ngModel]="coffeeMachine.scheduleCoffeeUsine">
                        <input hidden #statusUsine formControlName="statusUsine" [ngModel]="coffeeMachine.statusUsine">
                        <input hidden #waterLevelUsine formControlName="waterLevelUsine"
                            [ngModel]="coffeeMachine.waterLevelUsine">
                        <input hidden #scheduleCoffee formControlName="scheduleCoffee"
                            [ngModel]="coffeeMachine.scheduleCoffee">

                        <table width="90%">
                            <tr>
                                <td>Status de ma machine</td>
                                <td>
                                    <mat-slide-toggle #status formControlName="status" [ngModel]="coffeeMachine.status">
                                    </mat-slide-toggle>
                                </td>
                            </tr>

                            <tr>
                                <td>Mon café coulera à </td>
                                <td>
                                    <span (click)="openOn(coffeeMachine.scheduleCoffee, 'coffeeMachine')">
                                        <mat-icon md-36>schedule</mat-icon>
                                    </span>
                                </td>
                            </tr>

                        </table>
                        <!-- SUBMIT COFFEEMACHINE -->
                        <div class="d-flex justify-content-center mt-5 mb-5">
                            <button mat-raised-button type="submit">Valider</button>
                        </div>
                    </form>
                </div>

                <div class="d-flex justify-content-center mb-5">
                    <button class="type" (click)="restore('coffeeMachine', coffeeMachine.idCoffee)">Restaurer les
                        paramètres d'usine</button>
                </div>

            </ng-container>
        </mat-tab>

        <!-- Manage scenario My Morning-->
        <mat-tab label="Mon Matin">
            <p>
                <img class="imgScenar" src="../../assets/MyMorning1.png" alt=""/>
                <strong style="text-align: center;"> Bon matin...</strong>
            </p>

            <div class="col-6"> </div>
        </mat-tab>
    </mat-tab-group>
</section>