<section class="container">
    <div class="row">
        <div class="col-12">
            <h2>Mes objets connectés</h2>
        </div>
        <div class="col-12" *ngIf="dataloaded">
            <div *ngIf="lamps">
                <h2><img src="../../assets/lampe.jpg" alt="">Lampe</h2>
                <div class="row" *ngFor="let lampe of lamps; index as i">
                    <h5>Vos lampes - {{ i + 1}} :</h5>

                    <ul style="list-style-type:square;">
                        <li>Couleur : <span *ngIf="lampe.color === 'WHITE'">Blanche</span></li>
                        <li >Status : <span *ngIf="lampe.status">Allumées</span> <span *ngIf="!lampe.status">Éteint</span></li>
                        <li>Allumées à : {{ lampe.hourOn | date: "hh:mm a"}}</li>
                        <li>Éteintes à : {{ lampe.hourOff | date: "hh:mm a"}}</li>
                        <li>Intensité : {{ lampe.intensity }}%</li>
                    </ul>
                </div>
            </div>
            <div *ngIf="ovens">
                <h2><img src="../../assets/oven.jpg" alt="">Four</h2>
                <div class="row" *ngFor="let oven of ovens; index as i">
                    <h5>Votre four - {{ i + 1}} :</h5>
                    <ul style="list-style-type:square;">
                        <li >Status : <span *ngIf="oven.status">Allumées</span> <span *ngIf="!oven.status">Éteint</span></li>
                        <li>Température programmée : {{ oven.programTemp}}°C</li>
                        <li>Température effective : {{ oven.effectiveTemp}}°C</li>
                        <span *ngIf="oven.scheduleTime != null"><li>Heure de lancement : {{ oven.scheduleTime | date: "hh:mm a"}}</li></span>
                        <li>Mode : {{ oven.mode}}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>