<section class="container">
    <div class="row">
        <div class="col-12">
            <h2>{{ objectTypeString }} - {{ objectId }}</h2>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h3>Caractéristiques</h3>
                    <div *ngIf="objectType == 'lamp'">
                        <h5>Éléments préférés</h5>
                        <div class="col-12 col-md-6"><span class="caracteristics">Couleur préférée : </span>
                            {{ favoriteColor }}</div>
                        <div class="col-12 col-md-6"><span class="caracteristics">Intensité préférée : </span>
                            {{ favoriteIntensity }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div *ngIf="objectType == 'lamp'">
                        <h3>Plages d'utilisation</h3>
                        <div class="row">
                            <h4 class="col-12 col-md-11" style="color:brown">Plages suscpectes</h4>
                            <div class="col-12 col-md-1 togglers" data-toggle="collapse" data-target="#suspectLamps"
                                aria-expanded="false" aria-controls="suspectLamps">
                                +
                            </div>
                            <div class="col-12 collapse" id="suspectLamps" *ngFor="let item of lampPoweredTooLong | keyvalue">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <span>Début :</span> {{ split(item.key,0) }}
                                        <br>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <span>Fin :</span> {{ split(item.key,1) }}
                                        <br>
                                    </div>
                                    <div class="col-11 col-md-3">
                                        <span>Heures totales :</span> {{ item.value }}
                                    </div>
                                    <div class="col-11 col-md-3">
                                        <button type="button">Notifier</button>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            

                            <h4 class="col-12 col-md-11" style="color:darkgreen">Plages non suscpectes</h4>
                            <div class="col-12 col-md-1 togglers" data-toggle="collapse" data-target="#unsuspectLamps" aria-expanded="false" aria-controls="unsuspectLamps">
                                +
                            </div>

                            <div class="col-12 collapse" id="unsuspectLamps" *ngFor="let item of  lampPowered | keyvalue">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <span>Début :</span> {{ split(item.key,0) }}
                                        <br>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <span>Fin :</span> {{ split(item.key,1) }}
                                        <br>
                                    </div>
                                    <div class="col-11 col-md-4">
                                        <span>Heures totales :</span> {{ item.value }}
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>