<h3>Ajout d'un utilisateur</h3>
<!-- If we just created a user, the first container is hidden and the second is not; this attribute is on the component.ts -->
<div [hidden]="submitted" class="form-add">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group form-add-group">
      <label for="firstname">Prénom</label>
      <input type="text" class="form-control" id="firstname" required [(ngModel)]="user.firstname" name="firstname">
    </div>

    <div class="form-group form-add-group">
      <label for="lastname">Nom</label>
      <input type="text" class="form-control" id="lastname" required [(ngModel)]="user.lastname" name="lastname">
    </div>


    <button type="submit" class="form-button">Ajouter</button>
  </form>
</div>

<div [hidden]="!submitted" class="form-submitted">
  <h4>Votre utilisateur a bien été ajouté</h4>
  <button class="btn btn-success form-button" (click)="newUser()">Ajouter un nouvel utilisateur</button>
</div>
