<!-- app.component.html -->
<!-- <mat-form-field>
  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
</mat-form-field>
 
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
</mat-autocomplete> -->


<h1>Heree</h1>

<form>

<input type="text" value="hello" #searchInput>
<input type="submit" value="hello" (click)="fun()">
<input type="submit" value="create" (click)="createdata()">



</form>