<!-- app.component.html -->
<!-- <mat-form-field>
  <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
</mat-form-field>
 
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
</mat-autocomplete> -->


<h1>Heree</h1>

<form>
    <table id="productTable"
    class="table table-bordered
           table-condensed table-striped">
<thead>
<tr>
  <th>Edit</th>
  <th>Object</th>
  <th>URL</th>
  <th>Delete</th>
</tr>
</thead>
</table>
<input type="text" value="" #searchInput>
<input type="submit" value="search" (click)="loaddata()">
<input type="submit" value="start ref position mock" (click)="createdata()">
<input type="submit" value="delete" (click)="deletedata()">

<input type="submit" value="start position mock" (click)="createpositiondata()">





</form>