<!--<mat-form-field [formGroup]= "favoriteFiltersFormGroup">
<mat-label>Filtres favoris</mat-label>
<mat-select [(value)]="selectedFilter" name="Filter"
    (selectionChange)= "onSelectFavoriteFilter()">
    <mat-option>--</mat-option>
    <mat-option *ngFor= "let filter of Favoritefilter" [value] = "filter">
        {{filter.filterName}}
    </mat-option>
</mat-select>
</mat-form-field>-->


<!-- TO BE DONE NEXT SPRINT
IT ALLOWS USERS TO SAVE THEIR FAVORITES FILTERS
IN ORDER TO FACILITATE RESEARCHS-->