<div class="container">
    <div class="text-center">
        <h1><em style="font-weight: 300; font-style: normal;">
        Welcome to</em><br> Automatic Logistics Electronic Devices
        </h1>
        <p class="text-center"> A Host of team's web applications 
            interfaces
        </p>
    </div>
    <div class="card-deck my-3">

        <!--UC1-->
        <div class="card">
            <p class="text-center mt-3">
                <i class="fas fa binoculars fa-3x"></i>
            </p>
            <div class="card-body">
                <h5 class="card-title">Track Patients</h5>
                <p class="card-text">The track patients screnn
                    displays the map of the house</p>
            </div>
            <div class="card-footer">
                <a href="/track-patients-control-view" class="btn btn-primary">
                    Go to Track Patients Screen </a>
            </div>
        </div>

        <!--UC2-->
        <div class="card">
            <p class="text-center mt-3">
                <i class="fas fa-eye fa-3x"></i>
            </p>
            <div class="card-body">
                <h5 class="card-title">UC XX</h5>
                <p class="card-text">XXXX</p>
            </div>
            <div class="card-footer">
                <a href="/XXXX" class="btn btn-primary">
                    Go to XXXX </a>
            </div>
        </div>

         <!--UC3-->
         <div class="card">
            <p class="text-center mt-3">
                <i class="fas fa-link fa-3x"></i>
            </p>
            <div class="card-body">
                <h5 class="card-title">UC XX</h5>
                <p class="card-text">XXXX</p>
            </div>
            <div class="card-footer">
                <a href="/XXXX" class="btn btn-primary">
                    Go to XXXX </a>
            </div>
        </div>

         <!--UC4-->
         <div class="card">
            <p class="text-center mt-3">
                <i class="fas fa-file-download fa-3x"></i>
            </p>
            <div class="card-body">
                <h5 class="card-title">UC XX</h5>
                <p class="card-text">XXXX</p>
            </div>
            <div class="card-footer">
                <a href="/XXXX" class="btn btn-primary">
                    Go to XXXX </a>
            </div>
        </div>

          <!--UC5-->
          <div class="card">
                <p class="text-center mt-3">
                    <i class="fas fa-link fa-3x"></i>
                </p>
                <div class="card-body">
                    <h5 class="card-title">UC XX</h5>
                    <p class="card-text">XXXX</p>
                </div>
                <div class="card-footer">
                    <a href="/XXXX" class="btn btn-primary">
                        Go to XXXX </a>
                </div>
            </div>


    </div>


</div>